<div class = "form-card">
<div class = "form-back"><%= link_to("Back", {:action => 'index'}, :class => 'form-back') %></div>
	<div class = "form-title">Update Item</div>

	<%= form_for(:item, :url => {:action => 'update', :id => @item.id, :shop_id => @shop.id}) do |f| %>
	
	<table summary="Item form fields"> <!-- this div contain all fields to edit items -->
		<tr>
			<th class = 'form-attr'>Name</th>
			<td><%= f.text_field(:item_name, :class => 'form-tf') %></td>
		</tr>
		<tr>
			<th class = 'form-attr'>Price</th>
			<td><%= f.text_field(:price, :class => 'form-tf') %></td>
		</tr>
		<tr>
			<th class = 'form-attr'>Description</th>
			<td><%= f.text_field(:description, :class => 'form-ta') %></td>
		</tr>
		<tr>
			<th class = 'form-attr'>Inspiration</th>
			<td><%= f.text_field(:inspiration, :class => 'form-ta') %></td>
		</tr>
		<tr>
			<th class = 'form-attr'>Delete Images</th>
			<td>
				<% @item_attachments = @item.item_attachments %>
				<% @item_attachments.each do |p| %> <!-- creat table contains all pics for the item to delete it -->
 		 			<%= image_tag p.photo_url, :size => "150x150" %>
  					<%= link_to "Delete", {:action => 'destroyImage', :id => @item.id, :attachment_id => p.id, :confirm => 'Are you sure ?'} %>
				<% end %>
			</td>
		</tr>
		<tr>
			<th class = 'form-attr'>Add Images</th>
			<td>
			<%= f.fields_for :item_attachments do |i| %>
     			<div class="field">
       				<%= i.file_field :photo, :multiple => true, name: "item_attachments[photo][]", :class => 'form-upload' %>
     			</div>
   			<% end %>
   			</td>
		</tr>
	</table>

	<div>
		<%= submit_tag("Update Item", :class => 'form-button') %>
	</div>

	<% end %>
</div>