<div class="create">
	<h2>Update Item</h2>

	<%= form_for(:item, :url => {:action => 'update', :id => @item.id, :shop_id => @shop.id}) do |f| %>
	
	<table summary="Item form fields"> <!-- this div contain all fields to edit items -->
		<tr>
			<th>Name</th>
			<td><%= f.text_field(:item_name) %></td>
		</tr>
		<tr>
			<th>Price</th>
			<td><%= f.text_field(:price) %></td>
		</tr>
		<tr>
			<th>Description</th>
			<td><%= f.text_field(:description) %></td>
		</tr>
		<tr>
			<th>Inspiration</th>
			<td><%= f.text_field(:inspiration) %></td>
		</tr>
		<tr>
			<th>Delete Images</th>
			<td>
				<% @item_attachments = @item.item_attachments %>
				<% @item_attachments.each do |p| %> <!-- creat table contains all pics for the item to delete it -->
 		 			<%= image_tag p.photo_url, :size => "150x150" %>
  					<%= link_to "Delete", {:action => 'destroyImage', :id => @item.id, :attachment_id => p.id, :confirm => 'Are you sure ?'} %>
				<% end %>
			</td>
		</tr>
		<tr>
			<th>Add Images</th>
			<td>
			<%= f.fields_for :item_attachments do |i| %>
     			<div class="field">
       				<%= i.file_field :photo, :multiple => true, name: "item_attachments[photo][]" %>
     			</div>
   			<% end %>
   			</td>
		</tr>
	</table>

	<div class="form-button">
		<%= submit_tag("Update Item", :class => 'button') %>
	</div>

	<% end %>
</div>