<div class = "page">
    <% @itemsList.each do |item| %>
    <div class ="shop-card2">
      <div class="screen">
       <!-- This slider moves on hover --> 
       <div class="slider">
          <!-- Section 1 -->
           <div class="header1">>
              <% if item.item_attachments.first %>
                <%= image_tag item.item_attachments.first.photo_url, :size => "150x150" %>
              <% end %>
            </div>
        <!-- Section 2 -->
        <div class="header2">
          <div class="actions2">
            <%= link_to "Show", {:controller => 'item', :action => 'show', :id => item.id}, :class => 'actionshow' %>
          </div>
          <div class="actions2"> <%= link_to "Edit", {:controller => 'item', :action => 'edit', :id => item.id}, :class => 'actionedit' %>
          </div>
          <div class="actions2">  <%= link_to "Delete", {:controller => 'item', :action => 'delete', :id => item.id, :shop_id => @shop.id}, :class => 'actiondelete' %>
          </div>    
        </div>
        </div>
      </div>
     <p class="art-name"> <%= item.item_name %> </p>
    </div>
    <% end %>
    <%= @category_id %>
</div>