
<div class="subjects index">
  <h2 class= "pagetitle">Items</h2>
  <div class = "add">
  <%= link_to("Add New Item", {:action => 'new'}, :class => 'button') %>
  </div>
  <div class = "page">
    <% @items.each do |item| %>
    <div class ="shop-card">
      <div><%= item.id %></div>
      <div><%= item.item_name %></div>
      <div class="actions">
        <%= link_to "Show", {:action => 'show', :id => item.id}, :class => 'actionshow' %>|
        <%= link_to "Edit", {:action => 'edit', :id => item.id}, :class => 'actionedit' %> |
<<<<<<< HEAD
        <%= link_to "Delete", :action => 'delete', :class => 'actiondelete' %>     
=======
        <%= link_to "Delete", :action => "action delete", :class => 'actiondelete' %>     
>>>>>>> 9eb8d49f40f0a3c5332a5a5b3a218fa373904d29
        <!-- delete feature is not implemented yet  -->
        </div>
    </div>
    <% end %>
  </div>
</div>
