<div class="subjects index">
  <h2 class= "pagetitle">Items</h2>
  <div class = "add">
  <%= link_to("Add New Item", {:action => 'new'}, :class => 'button') %>
  </div>
  <div class = "page">
    <% @items.each do |item| %>
    <% item_attachments = item.item_attachments.all %>

    <div class ="shop-card">
      <div>
        <% item_attachments.each do |p| %>
          <%= image_tag p.photo_url, :size => "150x150" %>
          <%= link_to "Destroy", p, method: :delete %>
        <% end %>
      </div>
      <div><%= item.item_name %></div>

      <div class="actions">
        <%= link_to "Show", {:action => 'show', :id => item.id}, :class => 'actionshow' %>|
        <%= link_to "Edit", {:action => 'edit', :id => item.id, :shop_id => @shop.id}, :class => 'actionedit' %> |
        <%= link_to "Delete", {:action => 'delete', :id => item.id, :shop_id => @shop.id}, :class => 'actiondelete' %>
        </div>
    </div>
    <% end %>
     <div>
      <p>Filter by Category</p>
      <%= form_tag(:url => {:controller => 'item', :action => 'filterCategories'}) do %>
      <%= select_tag 'category', options_for_select([['category one', 'Category One'], ['category two', 'Category TWO']]) %>
      <%= submit_tag "Filter" %>
      <% end %>
    </div>
  </div>
</div>
