<div class="subjects index">
  <h2 class= "pagetitle">Items</h2>
  <div class = "add">
  <%= link_to("Add New Item", {:action => 'new'}, :class => 'button') %>
  </div>
  <div class = "page">
    <% @items.each do |item| %>
    <% item_attachments = item.item_attachments.all %>

    <div class ="shop-card">
      <div>
        <% item_attachments.each do |p| %>
          <%= image_tag p.photo_url, :size => "150x150" %>
          <%= link_to "Destroy", p, method: :delete %>
        <% end %>
      </div>
      <div><%= item.item_name %></div>

      <div class="actions">
        <%= link_to "Show", {:action => 'show', :id => item.id}, :class => 'actionshow' %>|
        <%= link_to "Edit", {:action => 'edit', :id => item.id, :shop_id => item.shop.id}, :class => 'actionedit' %> |
        <%= link_to "Delete", {:action => 'delete', :id => item.id, :shop_id => item.shop.id}, :class => 'actiondelete' %>
        </div>
    </div>
    <% end %>
     <div>

      <%= form_for :item, :url => {:action => 'filterCategories'} , :html => { :multipart => true } do |f| %>
      <table summary="Item form fields">
      <th>Filter by Category</th>    
      <td>
      <%= f.select :category, options_for_select([['Category One', 'Category One'], ['Category Two', 'Category Two'], ['Category Three', 'Category Three']], {:prompt => "Please select"}) %>
      </td>
  </table>

  <div class="form-button">
    <%= submit_tag("Filter", :class => 'button') %>
  </div>

  <% end %>
    </div>
  </div>
</div>
