<%= link_to("<< Back To List", {:action => 'index'}, :class => 'back-link') %>

<div class="create">
	<h2>Create Item</h2>

	<%= form_for :item, :url => {:action => 'create', :id => @shop.id} , :html => { :multipart => true } do |f| %>
	
	<table summary="Item form fields">
		<tr>
			<th>Name</th>
			<td><%= f.text_field(:item_name) %></td>
		</tr>
		<tr>
			<th>Price</th>
			<td><%= f.text_field(:price) %></td>
		</tr>
		<tr>
			<th>Description</th>
			<td><%= f.text_field(:description) %></td>
		</tr>
		<tr>
			<th>Inspiration</th>
			<td><%= f.text_field(:inspiration) %></td>
		</tr>
		<tr>
			<th>Category</th>
			<td>
			<select>
    			<option value="" disabled="disabled" selected="selected">Please select a category</option>
    			<option value="1">Category One</option>
    			<option value="2">Category Two</option>
			</select>
			</td>
		</tr>
		<tr>
			<th>Art Images</th>
			<td>
			<%= f.fields_for :item_attachments do |i| %>
     			<div class="field">
       				<%= i.file_field :photo, :multiple => true, name: "item_attachments[photo][]" %>
     			</div>
   			<% end %>
   			</td>
		</tr>
	</table>

	<div class="form-button">
		<%= submit_tag("Create Item", :class => 'button') %>
	</div>

	<% end %>
</div>