<div class="create">
	<h2>Create Item</h2>

	<%= form_for(:item, :url => {:action => 'create', :id => @shop.id}) do |f| %>
	
	<table summary="Item form fields">
		<tr>
			<th>Name</th>
			<td><%= f.text_field(:item_name) %></td>
		</tr>
		<tr>
			<th>Price</th>
			<td><%= f.text_field(:price) %></td>
		</tr>
		<tr>
			<th>Description</th>
			<td><%= f.text_field(:description) %></td>
		</tr>
		<tr>
			<th>Inspiration</th>
			<td><%= f.text_field(:inspiration) %></td>
		</tr>
	</table>

	<div class="form-button">
		<%= submit_tag("Create Item", :class => 'button') %>
	</div>

	<% end %>
</div>