<div class = "form-card">
<div class = "form-back"><%= link_to("Back", {:controller => 'shops', :action => 'show', :id => @shop.id}, :class => 'form-back') %></div>
	<div class = "form-title">Create Item</div>
	<%= form_for :item, :url => {:action => 'create', :shop_id => @shop.id} , :html => { :multipart => true } do |f| %>
	
	<table>
		<tr>
			<th class = "form-attr">Name</th>
			<td ><%= f.text_field(:item_name, :class => "form-tf") %></td>
		</tr>
		<tr>
			<th class = "form-attr">Price</th>
			<td><%= f.text_field(:price, :class => "form-tf") %></td>
		</tr>
		<tr>
			<th class = "form-attr">Description</th>
			<td><%= f.text_area(:description, :class => "form-ta") %></td>
		</tr>
		<tr>
			<th class = "form-attr">Inspiration</th>
			<td><%= f.text_area(:inspiration, :class => "form-ta") %></td>
		</tr>
		<tr>
			<th class = "form-attr">Category</th>
			<td>
			<%= f.select :category, options_for_select([['Category One', 'Category One'], ['Category Two', 'Category Two'], ['Category Three', 'Category Three']]) %>
			</td>
		</tr>
		<tr>
			<th class = "form-attr">Art Images</th>
			<td>
			<%= f.fields_for :item_attachments do |i| %>
     			<div class="field">
       				<%= i.file_field :photo, :multiple => true, name: "item_attachments[photo][]", :class => "form-upload" %>
     			</div>
   			<% end %>
   			</td>
		</tr>
	</table>

	<div>
		<%= submit_tag("Create Item", :class => 'form-button') %>
	</div>

	<% end %>
</div>