
<div class="create">
	<h2>Create Item</h2>

	<%= form_for :item, :url => {:action => 'create'} , :html => { :multipart => true } do |f| %>
	<table summary="Item form fields">
		<tr>
			<th>Name</th>
			<td><%= f.text_field(:item_name) %></td>
		</tr>
		<tr>
			<th>Price</th>
			<td><%= f.text_field(:price) %></td>
		</tr>
		<tr>
			<th>Description</th>
			<td><%= f.text_field(:description) %></td>
		</tr>
		<tr>
			<th>Inspiration</th>
			<td><%= f.text_field(:inspiration) %></td>
		</tr>
		<tr>
			<th>Art Images</th>
			<td>
			<%= f.fields_for :item_attachments do |i| %>
     			<div class="field">
       				<%= i.file_field :photo, :multiple => true, name: "item_attachments[photo][]" %>
     			</div>
   			<% end %>
   			</td>
		</tr>
		<tr>
			<th>Category</th>
			<td>
			<%= select_tag(:category, options_for_select([['category one', 'Category One'], ['category two', 'Category TWO']])) %>
			</td>
		</tr>
	</table>

	<div class="form-button">
		<%= submit_tag("Create Item", :class => 'button') %>
	</div>

	<% end %>
</div>