<%= link_to("<< Back To List", {:action => 'index'}, :class => 'back-link') %>

<div class="page">
	<p class="Show-Item">Show Item</p>
		<% @item_attachments.each do |p| %> <!-- print all pics for this item -->
 		 		<%= image_tag p.photo_url, :size => "450x300" %>
			<% end %>
</div>
<div class="page"> <!-- this class contain all description of item -->

		<p class="blod">Name</p>  
		<p class="answer"><%= @item.item_name %></p>
		<p class="blod">Price</p>
		<p class="answer"><%= @item.price %></p>
		<p class="blod">Description</p>
		<p class="answer"><%= @item.description %></p>
			<p class="blod">Inspiration</p>
		<p class="answer"><%= @item.inspiration %></p>
		</div>