<div class="page2_o">
<p class="art_name_o"><%= @item.item_name %></p>
<!-- 	<p class="Show-Item">Show Item</p> -->
<div class='picture-wall'>
  <ul class='picture-wall__list picture-wall__list--list-type-1'><li class='picture-wall__item'>
      <img alt='Dummy' class='picture-wall__image'>	<% @item_attachments.each do |p| %> <!-- print all pics for this item -->
 		 		<%= image_tag p.photo_url, :size => "600x450" %>
			<% end %>
    </li><li class='picture-wall__item'>
     </div>
 </div>	
 <div class="page_o"> <!-- this class contain all description of item -->
 		<div class="inspiration_o">
		<p class="blod">Inspiration</p>
		<p class="answer"><%= @item.inspiration %></p></div>
 		<div class="price_o">
		<p class="blod">Price</p>	
		<p class="number_o"><%= @item.price %></p></div>
		<div class="description_o">
		<p class="blod">Description</p>
		<p class="answer"><%= @item.description %></p></div>
		</div>
