<!-- Creates a form which takes the name of the recepient, hte subject, and the message body -->
<!-- The username is still shown on top of the page and to be removed later -->
<p><%= current_user.uname %></p>
<p>Compose new message</p>

<%= form_for :compose, :url => {:action => 'create', :controller => 'messages'} do |f| %>
<%= f.text_area :user, :placeholder => 'Username', :size => '50x1'%>
<br>
<br>
<%= f.text_area :subject, :placeholder => 'Subject', :size => '50x2'%>
<br>
<br>
<%= f.text_area :body, :placeholder => 'Message Body', :size => '50x20' %>
<br>
<br>
<%= f.submit 'Send' %>
<% end %>
