<!-- Creates a form which takes the name of the recepient, hte subject, and the message body -->
<!-- The username is still shown on top of the page and to be removed later -->
<h1 class = "p">New Message</h1>
<div class = "dialog">
<%= form_for :compose, :url => {:action => 'create', :controller => 'messages'} do |f| %>
<%= f.text_area :user, :placeholder => 'Reciever Name', :size => '50x1' , :class=> 'name'%>
<br>
<br>
<%= f.text_area :subject, :placeholder => 'Subject', :size => '50x2' , :class=> 'sub'%>
<br>
<br>
<%= f.text_area :body, :placeholder => 'Message Body', :size => '50x20' , :class=> 'body'%>
<br>
<br>
<%= f.submit 'Send' , :class=> 'send'%>
<% end %>
</div>
