<h1 class = "p">Reply</h1>
<div class = "dialog">
<%= form_for :reply, :url => {:action => 'reply', :controller => 'messages'} do |f| %>
<textarea class = 'name'><%= params[:m_from] %></textarea>
<br>
<br>
<textarea class = 'sub'>Re: <%= params[:m_sub] %></textarea>
<br>
<textarea class = 'sub'><%= params[:m_body] %></textarea>
<br>
<br>
<%= f.text_area :body, :placeholder => 'Reply Body', :size => '50x20' , :class=> 'body'%>
<br>
<br>
<%= f.submit 'Reply' , :class=> 'send'%>
<% end %>
</div>
