<div class = "dialog">
<!-- url will pass the required data to the reply function -->
<%= form_for :reply, :url => {:action => 'reply', :controller => 'messages', :r_from => params[:m_from], :r_id => params[:m_id], :r_sub => params[:m_sub] } do |f| %>
<textarea class = 'name'><%= params[:m_from] %></textarea>
<br>
<br>
<textarea class = 'sub'>Re: <%= params[:m_sub] %></textarea>
<br>
<textarea class = 'sub'><%= params[:m_body] %></textarea>
<br>
<br>
<%= f.text_area :r_body, :placeholder => 'Reply Body', :size => '50x20' , :class=> 'body'%>
<br>
<br>
<%= f.submit 'Reply' , :class=> 'send'%>
<% end %>
</div>
