<html>
<head>
<% @page_title = "Login" %>
</head>
<header> </header>
<body>
<h1>Login</h1>

<div>
    <%= bootstrap_form_for :session , layout: :inline do |f| %>
      <%= f.text_field :uname , :placeholder => 'User Name' , label:"Username: "%>
      <%= f.password_field :password , :placeholder => 'Password' , label:"Password: "%>
      <%= f.check_box :remember_me %>
      <%= f.submit "Log in" %>
    <% end %>


  </div>
</div>
</body>
</html>