<html>
<head>
<% @page_title = "SignUp" %>
</head>
<body>
<h2>SignUp</h2>

<%= bootstrap_form_for @user , url: {action: "create"} , inline_errors: false do |f| %>
    <%= f.alert_message "Please fix the following errors." %>
    <%= f.text_field :uname , :placeholder => 'User Name', label: "Username: " %>
    <%= f.email_field :email , :placeholder => 'example@domain.com' , label: "Email: "  %>
    <%= f.email_field :email_confirmation , :placeholder => 'Confirm email' , label: "Confirm Email: "  %>
    <%= f.password_field :password , :placeholder => 'Password' , label: "Password: " %>
    <%= f.password_field :password_confirmation , :placeholder => 'Confirm Password' , label: "Confirm Password: "  %>
    <%= f.text_field :fname , :placeholder => 'First Name' , label: "First Name: "  %>
    <%= f.text_field :lname , :placeholder => 'Last Name' , label: "Last Name: "  %>
    <%= f.phone_field :phone , :placeholder => 'Phone Number', label: "Phone Number: " %>
    <%= f.submit "Sign up" %>
<% end %>
</body>
</html>