<html>
<head>
<% @page_title = "Login" %>
</head>
<header> </header>
<body>
<h1>Login</h1>

<div>
    <%= form_for :session , layout: :inline do |f| %>
      <%= f.label 'Username: ' %>
      <%= f.text_field :uname , :placeholder => 'User Name'%>
      <%= f.label 'Password: ' %>
      <%= f.password_field :password , :placeholder => 'Password'%>
      <%= f.label 'Remember Me ' %>
      <%= f.check_box :remember_me %>
      <%= f.submit "Log in" %>
    <% end %>


  </div>
</div>
</body>
</html>
