<html>
<head>
	<title></title>
</head>
<body>
<h2>Sign up</h2>

<%= form_for :signup do |f| %>
    <%= f.label "user name" %><br />
    <%= f.text_field :uname %>
    <%= f.label "email" %><br />
    <%= f.text_field :email %>
    <%= f.label "password" %><br />
    <%= f.password_field :password %>
    <%= f.label "password_confirmation", "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  

    <%= f.label "First name" %><br />
    <%= f.text_field :fname %>
  

    <%= f.label "Last name" %><br />
    <%= f.text_field :lname %>
  

    <%= f.label "phone"%><br />
    <%= f.text_field :phone %>
    <%= f.submit "Sign up" %>
<% end %>
</body>
</html>