<h2 class="pagetitle">SignUp</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
 <table> <!-- make a table 2*8 contain all text field we need to enter information in it -->
    <tr>
        <th>User Name</th>
        <td><%= f.text_field :uname %> 
             <%if resource.errors[:uname].any?%>
                <% resource.errors[:uname].each do |msg| %>
                     <li><%=msg%></li>
                  <%end%>

             <%end%></li> </td>
    </tr>
    <tr>
        <th>Email</th>
        <td><%= f.email_field :email %>
              <%if resource.errors[:email].any?%>
                  <% resource.errors[:email].each do |msg| %>
                     <li><%=msg%></li>
                  <%end%>

             <%end%></li> </td>
    </tr>
    <tr>
        <th>Confirm Email</th>
        <td><%= f.email_field :email_confirmation %>
                 <%if resource.errors[:email_confirmation].any?%>
                      <% resource.errors[:email_confirmation].each do |msg| %>
                         <li><%=msg%></li>
                    <%end%>

                 <%end%></li> </td>
    </tr>
    <tr>
        <th>Password</th>
        <td> <%= f.password_field :password %>
                 <%if resource.errors[:password].any?%>
                    <% resource.errors[:password].each do |msg| %>
                        <li><%=msg%></li>
                    <%end%>

                 <%end%></li> </td>
    </tr>
    <tr>
        <th>Password Confirmation</th>
        <td><%= f.password_field :password_confirmation %>
                 <%if resource.errors[:password_confirmation].any?%>
                     <% resource.errors[:password_confirmation].each do |msg| %>
                            <li><%=msg%></li>
                     <%end%>

                <%end%></li> </td>
    </tr>
    <tr>
        <th>First Name</th>
        <td><%= f.text_field :fname %>
                 <%if resource.errors[:fname].any?%>
                    <% resource.errors[:fname].each do |msg| %>
                         <li><%=msg%></li>
                      <%end%>

                 <%end%></li> </td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td>  <%= f.text_field :lname %>
                <%if resource.errors[:lname].any?%>
                     <% resource.errors[:lname].each do |msg| %>
                        <li><%=msg%></li>
                     <%end%>

                <%end%></li> </td>
    </tr>
     <tr>
        <th>Phone Number</th>
        <td><%= f.phone_field :phone %>
                <%if resource.errors[:phone].any?%>
                     <% resource.errors[:phone].each do |msg| %>
                        <li><%=msg%></li>
                    <%end%>
                <%end%>
    </tr>
     </table>
     <div class="button"> <!-- this div contain the sign up button --> 
    <%= f.submit "Sign up" %>
    </div>
<% end %>

<%= render "devise/shared/links" %>
