<div class = 'form-card'>
<div class = "form-title">SignUp</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
 <table class = 'form-table'> <!-- make a table 2*8 contain all text field we need to enter information in it -->
    <tr>
        <th class = "form-attr">User Name</th>
        <td><%= f.text_field :uname, :class => 'form-tf' %> 
             <%if resource.errors[:uname].any?%>
                <% resource.errors[:uname].each do |msg| %>
                     <li><%=msg%></li>
                  <%end%>

             <%end%></li> </td>
    </tr>
    <tr>
        <th class = "form-attr">Email</th>
        <td><%= f.email_field :email, :class => 'form-tf' %>
              <%if resource.errors[:email].any?%>
                  <% resource.errors[:email].each do |msg| %>
                     <li><%=msg%></li>
                  <%end%>

             <%end%></li> </td>
    </tr>
    <tr>
        <th class = "form-attr">Confirm Email</th>
        <td><%= f.email_field :email_confirmation, :class => 'form-tf' %>
                 <%if resource.errors[:email_confirmation].any?%>
                      <% resource.errors[:email_confirmation].each do |msg| %>
                         <li><%=msg%></li>
                    <%end%>

                 <%end%></li> </td>
    </tr>
    <tr>
        <th class = "form-attr">Password</th>
        <td> <%= f.password_field :password, :class => 'form-tf' %>
                 <%if resource.errors[:password].any?%>
                    <% resource.errors[:password].each do |msg| %>
                        <li><%=msg%></li>
                    <%end%>

                 <%end%></li> </td>
    </tr>
    <tr>
        <th class = "form-attr">Password Confirmation</th>
        <td><%= f.password_field :password_confirmation, :class => 'form-tf' %>
                 <%if resource.errors[:password_confirmation].any?%>
                     <% resource.errors[:password_confirmation].each do |msg| %>
                            <li><%=msg%></li>
                     <%end%>

                <%end%></li> </td>
    </tr>
    <tr>
        <th class = "form-attr">First Name</th>
        <td><%= f.text_field :fname, :class => 'form-tf' %>
                 <%if resource.errors[:fname].any?%>
                    <% resource.errors[:fname].each do |msg| %>
                         <li><%=msg%></li>
                      <%end%>

                 <%end%></li> </td>
    </tr>
    <tr>
        <th class = "form-attr">Last Name</th>
        <td>  <%= f.text_field :lname, :class => 'form-tf' %>
                <%if resource.errors[:lname].any?%>
                     <% resource.errors[:lname].each do |msg| %>
                        <li><%=msg%></li>
                     <%end%>

                <%end%></li> </td>
    </tr>
     <tr>
        <th class = "form-attr">Phone Number</th>
        <td><%= f.phone_field :phone, :class => 'form-tf' %>
                <%if resource.errors[:phone].any?%>
                     <% resource.errors[:phone].each do |msg| %>
                        <li><%=msg%></li>
                    <%end%>
                <%end%>
    </tr>
     </table>
    <div> <!-- this div contain the sign up button --> 
    <%= f.submit "Sign up", :class => 'form-button' %>
    </div><br/>
    <%= render "devise/shared/links" %>
<% end %>
</div>