<div class="subjects index">
  
  <div>
  <div class= "pagetitle">Shops</div>
  <!-- Check if user is logged in in order to create a shop -->
    <div class = 'button'>
      <% if user_signed_in?%>
        <%= button_to("Create New Shop", {:action => 'new'}, :class => 'create-button') %>
      <%end%>
    </div>
    <div class = 'search-field'>
      <%= form_tag :action => 'search', :method => 'get', :class => 'search-form' do %>
        <%= text_field_tag :query, params[:query], :class => 'search-tf' %>
        <%= submit_tag "Search", :name => nil, :class => 'search-button' %>
      <% end %>    
    </div>
  </div>

  <!-- Shops showcase -->
  <div class = "page">
    <% @shops.each do |shop| %>
    <div class ="shop-card">
      <div class = "shop">
      <img src="<%= shop.cover_url.to_s %>" style="width:200px;height:200px"></div>
      <div><%= shop.id %></div>
      <div><%= shop.shop_name %></div>
        <div class="actions">
         <%= link_to("Show", {:action => 'show', :id => shop.id}, :class => 'actionshow') %>
        </div>
    </div>
    <% end %>
  </div>
</div>