<% if !flash[:notice].blank? %>
  <div class = "notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="subjects index">
  <h2 class= "pagetitle">Shops</h2>
  <div class = "add">
  <%= button_to("Add New Shop", {:action => 'new'}, :class => 'button') %>
  </div>
  <div class = "page">
    <% @shops.each do |shop| %>
    <div class ="shop-card">
      <div class = "shop"><img href="" src="<%= shop.cover_url.to_s %>" style="width:100px;height:100px"></div>
      <div><%= shop.shop_id %></div>
      <div><%= shop.shop_name %></div>
      <!-- <div><%= shop.shop_desc %></div> -->
      <div class="actions">
        <%= link_to("Show", {:action => 'show', :shop_id => shop.shop_id}, :class => 'actionshow') %> |
        <%= link_to("Edit", {:action => 'edit', :shop_id => shop.shop_id}, :class => 'actionedit') %> |
        <%= link_to("Delete", {:action => 'delete', :shop_id => shop.shop_id}, :class => 'actiondelete') %>      
        </div>
    </div>
    <% end %>
  </div>
</div>