<div class = "form-card">
<div class = "form-back"><%= link_to("Back", {:action => 'index'}, :class => 'form-back') %></div>
<div class = "form-title">Create New Shop</div>

<%= form_for(:shop, :url => {:action => 'create'}, :class => 'form-new') do |f| %>

	<table class = 'form-fields'> 
	<tr>
		<th class = 'form-attr'>Shop Name</th>
		<td><%= f.text_field(:shop_name, :class => 'form-tf', :placeholder=>"Type here!") %></td>
	</tr>
	<tr>
		<th class = 'form-attr'>Shop Description</th>
		<td><%= f.text_area(:shop_desc, :class => 'form-tf') %></td>
	</tr>
	<tr>
		<th class = 'form-attr'>Shop Cover</th>
		<td><%= f.file_field(:cover, :class => 'form-upload') %></td>
	</tr>
	</table>

	<div >
		<%= submit_tag("Create Shop", :class => 'form-button')%>
	</div>
	<% end %>
</div>