<div class = "page", id = "page">
<div class = "show-shop", id = "show-shop">
  <div class = "shop-name"><%= @shop.shop_name %></div>
  <div class = "shop-owner">by <%= @shop.user.uname.to_s %></div>

<!--     <h4>Shop Description</h4>
    <div><%= @shop.shop_desc %></div> -->
    
    <div>
    <!-- This is the shop cover image. Can either use image_tag function or the good old html. I used html for css image resizing -->

      <img src="<%= @shop.cover_url.to_s %>" style="width:200px;height:200px" class = "shop-image"> 
    </div>
     
     
    <div class = "add2">  
    <button class = "shop-button", onclick="test()">Description</button>
    </div>
    <div class = "add1">
    <!-- Check if user is logged in -->
    <% if user_signed_in?%>
    <!-- Check if user does not own this shop -->
    <% if !current_user.shops.include?(@shop)%>
    <!-- Check if user is not already following this shop -->
    <% if !current_user.followed_shops.include?(@shop) %>
    <!-- The Follow Shop button -->
    <%= button_to("Follow Shop", {:action => 'follow', :id => @shop.id}, :class => 'shop-button') %>
    <%else%>
    <%= button_to("UnFollow Shop", {:action => 'unfollow', :id => @shop.id}, :class => 'shop-button') %>
    <%end%>
    <%end%>
    <%else%>
    <%end%></div>
  <% if user_signed_in?%>
        <% if current_user.shops.include?(@shop)%>
          <div class = "add1">
        <%= button_to("Delete", {:action => 'delete', :id => @shop.id}, :class => 'shop-button') %>
          </div>
          <div class = "add1">
          <%= button_to("Edit", {:action => 'edit', :id => @shop.id}, :class => 'shop-button') %>
          </div>
          <div class = "add1">
  <%= button_to("Add New Item", {:controller => 'item', :action => 'new', :shop_id => @shop.id}, :class => 'shop-button') %>
  </div>
        <%end%>
        <%end%>
  </div>

<div class = "shop-page">
<div id= "desc", class = "invisible"><%= @shop.shop_desc %> </div>
<!-- This is the item showcase of the shop -->
    <% if @item!=nil %>
      <% @item.each do |item| %>
          <% if item.item_attachments.first %>
            <div class="arrange_o">
              <ul class="gallery_o">
                <li><%= image_tag item.item_attachments.first.photo_url, :size => "150x250" %></li>
          <% end %></ul></div>
                  <span class="name_o">
                  <span class="title_o"><p class="art-name"> <%= item.item_name %> </p></span>
                    <%= link_to "Show",  {:controller => 'item', :action => 'show', :id => item.id}, :class => 'actionshow_o' %> 
          <% if !current_user.shops.include?(@shop)%>
                    <%= link_to 'Add to Cart', cart_items_path(item_id: item.id) ,method: :post , :class => 'actioncart_o' %>
          <%end%>
        <%if user_signed_in? and !reported?(item.id,current_user.id)%>  <!-- Can't Report An Owned Item Or Report Item Twice-->
            <% if !current_user.shops.include?(@shop)%>
                <%= link_to 'Report Item' ,{:controller => 'item', :action => 'report', :id => item.id} , :class => 'actionshow_o'%>
            <%end%>
        <%end%>
   <!--    The edit and delete buttons won't appear if the user is not signed in or doesnt own the shop -->
                      <% if user_signed_in? %>
                        <% if current_user.shops.include?(@shop)%> 
                         <%= link_to "Edit", {:controller => 'item', :action => 'edit', :id => item.id,:shop_id => @shop.id}, :class => 'actionedit_o' %> 
                          <%= link_to "Delete", {:controller => 'item', :action => 'delete', :id => item.id, :shop_id => @shop.id}, :class => 'actiondelete_o' %>   
                        <%end%>
                     <%end%>
    </span></li>
    </ul>
           </div>  
      <%end%>
    <%end%>
</div>
</div>
<script type="text/javascript">document.getElementById("show-shop").setAttribute("style","height:"+ document.getElementById("page").offsetHeight +"px;")</script>