<%= form_for(@item_attachment) do |f| %>
  <% if @item_attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_attachment.errors.count, "error") %> prohibited this item_attachment from being saved:</h2>

      <ul>
      <% @item_attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_id %><br>
    <%= f.number_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.text_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
