

<% @page_title = "Home" %> <!--set the page title to home-->

<% if !logged_in? %>
<div class ="homebuttons">
<%=button_to "SIGN UP" ,{:action => 'view_signup' , :controller => 'sessions'}, :class =>"button" %>
<%=button_to "LOGIN" , {:action => 'view_signin' , :controller => 'sessions'}, :class =>"button"%>
<%=button_to "BROWSE SHOPS", {:action => 'index' , :controller => 'shops'}, :class =>"button"%>
</div>
<%else%>
<h2>WELCOME</h2> <%=@current_user.uname%>
<br>
<div class ="homebuttons">
<%=button_to "Logout", logout_path , method: :delete, :class => "button" %>
<%=button_to "BROWSE SHOPS", {:action => 'index' , :controller => 'shops'}, :class =>"button"%><%end%>
</div>

</body>
</html>

