<% @page_title = "Home" %>
<%= stylesheet_link_tag 'shop', media: 'all', 'data-turbolinks-track' => true %>
  
<div id="slider"> 
  <div id="mask">
    <ul>
      <li class="firstanimation">
        <a href="#">
        <img class="slideImage" src="http://cdn.twitrcovers.com/wp-content/uploads/2013/08/Paintings-Castles-l.jpg" alt="Castle"/>
        </a>
      </li>
      <li class="secondanimation">
        <a href="#">
        <img class="slideImage" src="http://cdn.twitrcovers.com/wp-content/uploads/2013/10/Paintings-Clouds-l.jpg" alt="Clouds"/>
        </a>
      </li>
      <li class="thirdanimation">
        <a href="#">
        <img class="slideImage" src="http://cdn.twitrcovers.com/wp-content/uploads/2012/11/Paintings-Dark-l.jpg" alt="China"/>
        </a>
      </li>           
      <li class="fourthanimation">
        <a href="#">
        <img class="slideImage" src="https://bizarrocentral.files.wordpress.com/2013/06/seekoenig.jpg" alt="Budda"/>
        </a>
      </li>
      <li class="fifthanimation">
        <a href="#">
        <img class="slideImage" src="http://cdn.twitrcovers.com/wp-content/uploads/2014/03/Paintings-Sci-Fi-l.jpg" alt="SciFi"/>
        </a>
      </li>
    </ul>
  </div> 
  <div id="progressbar">
  </div>
</div>
<div class="search-bar">
  <div class = 'search-field'>
      <%= form_tag :action => 'search',:controller => 'shops', :method => 'get', :class => 'search-form' do %>
        <%= text_field_tag :query, params[:query], :class => 'search-tf' %>
        <%= submit_tag "Search", :name => nil, :class => 'search-button' %>
      <% end %>    
    </div>
</div>
<div class="featured-items">
  - Featured Items -
</div>
<div class = "page-homepage">
  <% @items.each do |item| %>
    <div class ="arrange_o">
      <ul class="gallery_o">
        <% if item.item_attachments.first %>
        <li><%= image_tag item.item_attachments.first.photo_url, :size => "150x250" %>
        <% end %>
          <span class="name_o">
            <%= link_to "Show", {:action => 'show', :id => item.id, :controller => 'item'}, :class => 'actionshow_o' %>
            <span class="title_o"><div class="art-name"> <%= item.item_name %> </div></span></span>   
          </span>
        </li>
      </ul>
    </div>
    <% end %>
</div>

