<html>
<body>
<div class="content-helper"><!--Big Container-->
	<h2 class="mainbox-cart-title"> <!--CART TITLE-->
		Your Shopping Cart 
	</h2>
		<%if @cart.cart_items.empty?%> <!--checks if the cart is empty-->
			<div class="item-body">
				 <p class="empty-cart"> Your Cart Is Empty </p>
			</div>	
		<%end%>
		<%@cart.cart_items.each do |cart_item|%> <!--List All Cart Items-->
		<div class="clear item-body">
			<div class="item-image">
				<a href="https://www.cs-cart.com/facebook-store.html">
					<img class=" " src="https://www.cs-cart.com/images/thumbnails/5/120/facebook_store_product_v1.png" width="120" alt="" border="0">
				</a>
			</div>
				<label class="item-label">Item Name: </label> <!--item name-->
					<label class="item-title"><%=cart_item.item.item_name%></label>
					<br> <!--Field For Updating Quantity-->
					<%= form_for :cart_item , :url => { :controller => 'CartItems' , :action => "update_quantity" , :cart_item_id => cart_item.id } do |f|%>
					<label class="item-label">Quantity:</label><%= f.text_field :quantity , class:'text-field' , value: cart_item.quantity %>x<span>$<%=cart_item.item.price%></span> = <span class="sub-price">$</span><span class="sub-price"> <!--Price -->
								<%= cart_item.total_price %>
								</span>
	<!--Update Button--><%= f.submit 'Update' , class: 'cart-button update-button'%>
						<%end%>
<!--Item Description-->	<label class="item-label">Description: </label>
						<span class="item-desc"><%= cart_item.item.description%></span>
						<br>
<!--Item Quantity-->	<label class="item-label">Quantity In Stock: </label>
						<span class="sub-price"><%= cart_item.item.quantity%></span>
	   <!--Delete Button--><%=button_to 'Delete' ,{controller: 'CartItems' , action: :destroy , cart_item_id: cart_item.id}, class: 'cart-button' , method: :delete%>
		</div>
		<hr>
		<%end%>

	<%if !@cart.cart_items.empty?%> <!--Check IF a Cart IS Empty-->
	<div class="total-price"> <!--Total Price-->
				<div class="total-price-line"><strong>Total cost = </strong><span class="total-price-number">$</span><span class="total-price-number"><%=@cart.total_price%></span>
				</div>
	</div>	
	<div class="cart-footer-buttons"> <!--Footer Buttons-->
		<div id= "left-button"><%= button_to 'Clear Cart' , {action: :destroy} ,class: 'cart-button', method: :delete %></div><!--CLEAR CART Button-->
		<div id= "center-button"><%=button_to 'Checkout' ,root_path , class: 'cart-button' , method: :get%> </div><!-- CHECKOUT BuTTON -->
		<div id= "right-button"><%=button_to 'Continue Shopping' ,root_path , class: 'cart-button' , method: :get%></div><!-- Continue BuTTON -->
	</div> 
	<%else%>
	<div class="cart-footer-buttons"> <!--Footer Buttons-->
		<div><%=button_to 'Continue Shopping' ,root_path , class: 'cart-button' , method: :get%></div><!-- Continue BuTTON -->
	</div> 
	<%end%>
</div>

</body>
</html>