<% @page_title = "login" %> <!--to set the titel of the page-->
<div class = 'form-card' id = "1">
<div class = 'form-title'>Login</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%=devise_error_messages!%>
  <table>
  <div class="field">
    <%= f.label :Username %><br />
    <%= f.text_field :uname, autofocus: true, :class => 'form-tf' %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, :class => 'form-tf' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, :class => '' %>
    </div>
  <% end -%>
  </table>
  <div><%= render "devise/shared/links" %></div>
  <div class="actions">
    <%= f.submit "Log in" ,:class => 'form-button' %>
  </div>
<% end %>
</div> 