<% if !flash[:notice].blank? %>
  <div class = "notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="subjects index">
  <h2>Shops</h2>

  <%= link_to("Add New Shop", {:action => 'new'}) %>

  <table summary="Shop list">
    <tr class="header">
      <th>Shop ID</th>
      <th>Shop Name</th>
      <!-- <th>Shop Description</th> -->
    </tr>
    <% @shops.each do |shop| %>
    <tr>
      <td><%= shop.shop_id %></td>
      <td><%= shop.shop_name %></td>
      <!-- <td><%= shop.shop_desc %></td> -->
      <td class="actions">
        <%= link_to("Show", :action => 'show', :shop_id => shop.shop_id, :class => 'action show') %>
        <%= link_to("Edit", :action => 'edit', :shop_id => shop.shop_id, :class => 'action edit') %>
        <%= link_to("Delete", :action => 'delete', :shop_id => shop.shop_id, :class => 'action delete') %>
      </td>
    </tr> 
    <% end %>
  </table>
</div>