
<!--   <h2 class= "pagetitle">Shops</h2>
  <div class = "add">
  <! Check if user is logged in in order to create a shop -->
<!--   <% if user_signed_in?%>
  <%end%>
  </div>  -->
  <!-- Shops showcase -->
  <div class = "page", id = "page">

  <!-- profile info -->
  <div class = "show-shop", id = "show-shop">
    <div class = "add2">  
      <div class = "add1">
        <h2> <%= current_user.fname%> </h2>
        <h2> <%= current_user.lname%> </h2>
        <%= button_to("Create New Shop", {:action => 'new', :controller => '/shops'}, :class => 'shop-button') %>
      </div>
    </div>
  </div>
<div class = "shop-page">
  <!-- shops cards -->
  <div class = "myshops-title">My shops</div>
    <% @shops.each do |shop| %>
    <div class ="shop-card">
      <div class = "shop">
        <img src="<%= shop.cover_url.to_s %>" style="width:200px;height:200px"></div>
        <div><%= shop.id %></div>
          <div><%= shop.shop_name %></div>
            <div class="actions">
              <%= link_to("Show", {:action => 'show', :controller => '/shops', :id => shop.id}, :class => 'actionshow') %>
            </div>
          </div>
   <% end %>
    <div class = "followed-shops">My followed shops</div>
   <!-- followed shops  -->
   <% @followed_shops.each do |shop| %>
    <div class ="shop-card">
    <div class = "above-each-other">
      <div class = "shop">
      <img src="<%= shop.cover_url.to_s %>" style="width:200px;height:200px"></div>
        <div><%= shop.id %></div>
          <div><%= shop.shop_name %></div>
          <div class="actions">
           <%= link_to("Show", {:action => 'show', :controller => '/shops', :id => shop.id}, :class => 'actionshow') %>
          </div>
          </div>
         </div>
    <% end %>

</div>
</div>
<script type="text/javascript">document.getElementById("show-shop").setAttribute("style","height:"+ document.getElementById("page").offsetHeight +"px;")</script>