<!DOCTYPE html>
<html>
<head>
  <title>Knellen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if !flash[:notice].blank? %>
  <div class = "notice">
    <%= flash[:notice] %>
  </div>
<% end %>
<div class = "banner">
<div class = "titlebk">
<h1 class= "title"><%= link_to("Knellen", :class => 'title') %></div>
</div>
<%= yield %>

</body>
<footer id="footer">Knellen Project by ©WonderCode</footer>
</html>
