<!DOCTYPE html>
<html>
<head>
  <title>Knellen</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
	 <div class="container">
        <div class="nav-bar ">
        	<%= link_to(image_tag("logo.png"), root_path, :class => 'logo') %>
          <%= link_to("Home", root_path, :class => 'navbar-element') %>
            <% if user_signed_in?%>
          <%= link_to("Profile",{:action => 'myshops', :controller => '/profile'}, :class => 'navbar-element') %>
           <%end%>
          <%= link_to("Mail", {:action => 'inbox' , :controller => '/messages'}, :class => 'navbar-element') %>
          <%= link_to("Cart", {:action => 'index' , :controller => '/carts'}, :class => 'navbar-element') %>
          <% if !user_signed_in? %>
          <%=link_to "BROWSE SHOPS", {:action => 'index' , :controller => '/shops'}, :class =>"navbar-element"%>
				  <%=link_to "LOGIN" ,new_user_session_path  , :class =>"login-element"%>
          <%else%>
				  <%=link_to "BROWSE SHOPS", {:action => 'index' , :controller => '/shops'}, :class =>"navbar-element"%>
				  <%=link_to "Sign Out", destroy_user_session_path , method: :delete , :class => "login-element" %>
			    <%end%>
        </div>
    </div>

<!-- flash for notices -->
<% if !flash[:notice].blank? %>
  <div class = "notice">
    <%= flash[:notice] %>
  </div>
<% end %>	



<%= yield %>
</body>

<footer id="footer" class = "footer">Knellen Project by ©WonderCode</footer>
</html>
