<!DOCTYPE html>
<html>
<head>

  <title>Knellen Art</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class = "banner">
<div class = "titlebk">
<h1 class= "title"><%= link_to("Knellen", {:controller => 'home', :action => 'index'}, :class => 'title') %></div>
</div>
	
<% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

<%= yield %>

</body>
<footer id="footer">Knellen Project by ©WonderCode</footer>
</html>
